body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #000000; /* Primary Background */
  color: #FFFFFF; /* Primary Text */
}

.home, .about, .projects, .experience, .contact, .footer {
  padding: 20px;
  margin: 20px;
  background-color: #1A1A1A; /* Dark Gray Background for sections */
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(111, 74, 203, 0.7); /* Glow effect color #6f4acb */
  max-width: 800px; /* Set a maximum width */
  margin: 0 auto; /* Center the section horizontally */
}

.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

h1{
  font-weight: 700; /* Bold */
  color: #dc3030; /* Accent Color 1 */
}
h2 {
  font-weight: 700; /* Bold */
  color: #c5b174; /* Accent Color 1 */
}

.subheader {
  font-weight: 400; /* Regular */
  font-size: 0.9em;
  color: #CCCCCC; /* Secondary Text */
  margin-bottom: 10px;
}

p, label {
  font-weight: 400; /* Regular */
  color: #CCCCCC; /* Secondary Text */
}

ul {
  list-style-type: none;
  padding: 0;
}

ul li {
  display: block; /* Ensure each list item is on its own line */
  margin-bottom: 10px; /* Optional: add some space between list items */
}

a {
  color: #dc3030; /* Accent Color 1 */
  text-decoration: none;
}

a:hover {
  color: #c5b174; /* Highlight color */
  text-decoration: underline;
}

form {
  display: flex;
  flex-direction: column;
}

form label {
  margin-top: 10px;
}

form input, form textarea, form button {
  padding: 10px;
  margin-top: 5px;
  background-color: #333333; /* Dark Background for inputs */
  color: #FFFFFF; /* Primary Text */
  border: 1px solid #dc3030; /* Accent Color 2 */
  border-radius: 3px;
}

form button {
  background-color: #dc3030; /* Accent Color 1 */
  color: #FFFFFF; /* Primary Text */
  border: none;
  cursor: pointer;
}

form button:hover {
  background-color: #dc3030; /* Accent Color 2 */
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(20px);
  }
}

.hidden {
  opacity: 0;
}

.fade-in {
  animation: fadeIn 1s forwards;
}

.fade-out {
  animation: fadeOut 1s forwards;
}

.small-image {
  width: 370px; /* Set the width you want */
  height: auto; /* Maintain aspect ratio */
}
